<div class="pagination">
    <button class="pagination__left" type="button" aria-label="scroll-left">
        <svg width="15" height="24" viewBox='0 0 17 20' fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="12.5791" y="23.6992" width="16.5512" height="3" rx="1.5" transform="rotate(-135 12.5791 23.6992)"
                fill="#070707" />
            <rect x="14.7002" y="2.41992" width="16.5512" height="3" rx="1.5" transform="rotate(135 14.7002 2.41992)"
                fill="#070707" />
        </svg>
    </button>
    <ul class="pagination__list">
        <li class="pagination__item articles__item">
            <a href="#" aria-label="page 1" class="pagination__item_active">@@elem-1</a>
        </li>
        <li class="pagination__item articles__item">
            <a href="#" aria-label="page 2">@@elem-2</a>
        </li>
        <li class="pagination__item articles__item">
            <a href="#" aria-label="page 3">@@elem-3</a>
        </li>
        <li class="pagination__item articles__item">
            <a href="#" aria-label="page 4">@@elem-4</a>
        </li>
        <li class="pagination__item articles__item @@class">
            <a href="#" aria-label="page 5">@@elem-5</a>
        </li>
        <li class="pagination__item articles__item @@class">
            <a href="#" aria-label="page 6">@@elem-6</a>
        </li>
        <li class="pagination__item articles__item @@class">
            <a href="#" aria-label="page 7">@@elem-7</a>
        </li>
        <li class="pagination__item articles__item @@class">
            <a href="#" aria-label="page 8">@@elem-8</a>
        </li>
    </ul>
    <button class="pagination__right" type="button" aria-label="scroll-right">
        <svg width="15" height="24" viewBox="-3 -2 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.4209" y="0.300964" width="16.5512" height="3" rx="1.5" transform="rotate(45 2.4209 0.300964)"
                fill="#070707" />
            <rect x="0.299805" y="21.5803" width="16.5512" height="3" rx="1.5" transform="rotate(-45 0.299805 21.5803)"
                fill="#070707" />
        </svg>
    </button>
</div>