<div class="pagination__bottom-panel">
    <button class="pagination__button pagination__button_back pagination__button-back_js" type="button" aria-label="scroll-left">
        <svg width="15" height="24" viewBox='0 0 17 20' fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="12.5791" y="23.6992" width="16.5512" height="3" rx="1.5" transform="rotate(-135 12.5791 23.6992)"
                fill="#070707" />
            <rect x="14.7002" y="2.41992" width="16.5512" height="3" rx="1.5" transform="rotate(135 14.7002 2.41992)"
                fill="#070707" />
        </svg>
    </button>
    <div class="pagination__dot-wrapper pagination__dot-wrapper_js"></div>
    <button class="pagination__button pagination__button_next pagination__button-next_js" type="button" aria-label="scroll-right">
        <svg width="15" height="24" viewBox="-3 -2 17 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.4209" y="0.300964" width="16.5512" height="3" rx="1.5" transform="rotate(45 2.4209 0.300964)"
                fill="#070707" />
            <rect x="0.299805" y="21.5803" width="16.5512" height="3" rx="1.5" transform="rotate(-45 0.299805 21.5803)"
                fill="#070707" />
        </svg>
    </button>
</div>