<article class="article @@class">
    <picture class="article__img">
        <source srcset="@@source">
        <img src="@@img" alt="img">
    </picture>
    <div class="article__description-wrapper">
        <div class="article__description article__description_1">
            <span class="article__tag @@span-class">
                <svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="30" height="10" rx="5" fill="#F79824"/>
                </svg>
            </span>
            @@tags
        </div>
        <div class="article__description article__description_2">
            <time class="article__time">date</time>
            <p class="article__amountViews">views</p>
            <p class="article__amountComments">comments</p>
        </div>
        <div class="article__description article__description_3">
            <h3 class="article__title">@@title</h3>
            <p class="article__txt">@@txt</p>
            <a href="#" class="article__link">Go to this post</a>
        </div>
    </div>
</article>