<div class="slider-container">
    <div class="slider">
        <div class="slider__wrapper slider__wrapper_js">
            <div class="slider__inner-wrapper slider__inner-wrapper_js">
                <div class="slider__slide slider__slide_js">
                    <picture class="slider__img">
                        <source
                            srcset="/static/images/main-page/slider/photo-mobile.jpg, /static/images/main-page/slider/photo-mobile2x.jpg 2x"
                            media="(max-width: 426px)">
                        <source
                            srcset="/static/images/main-page/slider/photo-tablet.jpg, /static/images/main-page/slider/photo-tablet2x.jpg 2x"
                            media="(max-width: 768px)">

                        <source srcset="/static/images/main-page/slider/photo2x.jpg 2x">
                        <img src="/static/images/main-page/slider/photo.jpg" alt="my photo">
                    </picture>
                </div>
                <div class="slider__slide slider__slide_js">
                    <picture class="slider__img">
                        <source
                            srcset="/static/images/main-page/slider/photo-mobile.jpg, /static/images/main-page/slider/photo-mobile2x.jpg 2x"
                            media="(max-width: 426px)">
                        <source
                            srcset="/static/images/main-page/slider/photo-tablet.jpg, /static/images/main-page/slider/photo-tablet2x.jpg 2x"
                            media="(max-width: 768px)">

                        <source srcset="/static/images/main-page/slider/photo2x.jpg 2x">
                        <img src="/static/images/main-page/slider/photo.jpg" alt="my photo">
                    </picture>
                </div>
                <div class="slider__slide slider__slide_js">
                    <picture class="slider__img">
                        <source
                            srcset="/static/images/main-page/slider/photo-mobile.jpg, /static/images/main-page/slider/photo-mobile2x.jpg 2x"
                            media="(max-width: 426px)">
                        <source
                            srcset="/static/images/main-page/slider/photo-tablet.jpg, /static/images/main-page/slider/photo-tablet2x.jpg 2x"
                            media="(max-width: 768px)">

                        <source srcset="/static/images/main-page/slider/photo2x.jpg 2x">
                        <img src="/static/images/main-page/slider/photo.jpg" alt="my photo">
                    </picture>
                </div>
                <div class="slider__slide slider__slide_js">
                    <picture class="slider__img">
                        <source
                            srcset="/static/images/main-page/slider/photo-mobile.jpg, /static/images/main-page/slider/photo-mobile2x.jpg 2x"
                            media="(max-width: 426px)">
                        <source
                            srcset="/static/images/main-page/slider/photo-tablet.jpg, /static/images/main-page/slider/photo-tablet2x.jpg 2x"
                            media="(max-width: 768px)">

                        <source srcset="/static/images/main-page/slider/photo2x.jpg 2x">
                        <img src="/static/images/main-page/slider/photo.jpg" alt="my photo">
                    </picture>
                </div>
            </div>
        </div>
        @@include('pagination/index.html')
    </div>
</div>
<script src="/js/slider.js"></script>